In [25]:
# Imports
import pandas as pd
import numpy as np
from unidecode import unidecode

In [60]:
# Data frame with the total number of patents granted per country/year
df_pat = pd.read_csv(r'total_patent_grants.csv', header=7).fillna(0)

df_pat.head()

,Office,Office (Code),Origin,1980,1981,1982,1983,1984,1985,1986,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,African Intellectual Property Organization,OA,Unknown,143.0,0.0,184.0,404.0,225.0,0.0,0.0,...,0.0,59.0,3.0,2.0,0.0,9.0,0.0,7.0,9.0,2.0
1,African Intellectual Property Organization,OA,United Arab Emirates,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,4.0,1.0,4.0
2,African Intellectual Property Organization,OA,Argentina,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,African Intellectual Property Organization,OA,Austria,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,2.0,3.0,2.0,0.0,1.0,4.0,4.0,5.0
4,African Intellectual Property Organization,OA,Australia,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,9.0,10.0,10.0,7.0,4.0,6.0,8.0,8.0,10.0

In [61]:
# Data frame with the total population per country/year
df_pop = pd.read_csv(r'population.csv', header=2).drop(
    columns=['Indicator Name', 'Indicator Code'])

df_pop.head()

,Country Name,Country Code,1960,1961,1962,1963,1964,1965,1966,1967,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,Unnamed: 66
0,Aruba,ABW,54608.0,55811.0,56682.0,57475.0,58178.0,58782.0,59291.0,59522.0,...,102880.0,103594.0,104257.0,104874.0,105439.0,105962.0,106442.0,106585.0,106537.0,NaN
1,Africa Eastern and Southern,AFE,130692579.0,134169237.0,137835590.0,141630546.0,145605995.0,149742351.0,153955516.0,158313235.0,...,567891875.0,583650827.0,600008150.0,616377331.0,632746296.0,649756874.0,667242712.0,685112705.0,702976832.0,NaN
2,Afghanistan,AFG,8622466.0,8790140.0,8969047.0,9157465.0,9355514.0,9565147.0,9783147.0,10010030.0,...,31541209.0,32716210.0,33753499.0,34636207.0,35643418.0,36686784.0,37769499.0,38972230.0,40099462.0,NaN
3,Africa Western and Central,AFW,97256290.0,99314028.0,101445032.0,103667517.0,105959979.0,108336203.0,110798486.0,113319950.0,...,387204553.0,397855507.0,408690375.0,419778384.0,431138704.0,442646825.0,454306063.0,466189102.0,478185907.0,NaN
4,Angola,AGO,5357195.0,5441333.0,5521400.0,5599827.0,5673199.0,5736582.0,5787044.0,5827503.0,...,26147002.0,27128337.0,28127721.0,29154746.0,30208628.0,31273533.0,32353588.0,33428486.0,34503774.0,NaN

In [63]:
df_temp_1 = df_pat[['Origin', 'Office (Code)']].rename(columns={'Origin': 'Country'})
df_temp_2 = df_pop[['Country Name', 'Country Code']].rename(columns={'Country Name': 'Country'})

In [64]:
df_temp = pd.merge(df_temp_1, df_temp_2, on='Country')

In [79]:
df_temp.drop_duplicates().fillna('-')

                   Country Office (Code) Country Code
0     United Arab Emirates            OA          ARE
1     United Arab Emirates            AP          ARE
2     United Arab Emirates            DZ          ARE
3     United Arab Emirates            AD          ARE
4     United Arab Emirates            AR          ARE
...                    ...           ...          ...
5944            Cabo Verde            US          CPV
5945               Somalia            SO          SOM
5946           South Sudan            SD          SSD
5947                 Nauru            CH          NRU
5948              Djibouti            TH          DJI

[5949 rows x 3 columns]

In [82]:
df_temp[df_temp['Country Code'] == '-']

Empty DataFrame
Columns: [Country, Office (Code), Country Code]
Index: []