In [2]:
# Imports
import pandas as pd
import numpy as np

In [12]:
df_pat = pd.read_csv(r'total_patent_grants.csv', header=7).fillna(0)

In [13]:
df_pat

,Office,Office (Code),Origin,1980,1981,1982,1983,1984,1985,1986,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,African Intellectual Property Organization,OA,Unknown,143.0,0.0,184.0,404.0,225.0,0.0,0.0,...,0.0,59.0,3.0,2.0,0.0,9.0,0.0,7.0,9.0,2.0
1,African Intellectual Property Organization,OA,United Arab Emirates,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,4.0,1.0,4.0
2,African Intellectual Property Organization,OA,Argentina,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,African Intellectual Property Organization,OA,Austria,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,2.0,3.0,2.0,0.0,1.0,4.0,4.0,5.0
4,African Intellectual Property Organization,OA,Australia,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,9.0,10.0,10.0,7.0,4.0,6.0,8.0,8.0,10.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7094,Zimbabwe,ZW,Netherlands,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7095,Zimbabwe,ZW,Sweden,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7096,Zimbabwe,ZW,United States of America,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7097,Zimbabwe,ZW,South Africa,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7098,Zimbabwe,ZW,Zimbabwe,24.0,5.0,19.0,16.0,17.0,2.0,21.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [4]:
df_pop = pd.read_csv(r'population.csv')

In [5]:
df_pop

,LOCATION,INDICATOR,SUBJECT,MEASURE,FREQUENCY,TIME,Value,Flag Codes
0,AUS,POP,TOT,AGRWTH,A,1951,2.971132,NaN
1,AUS,POP,TOT,AGRWTH,A,1952,2.550554,NaN
2,AUS,POP,TOT,AGRWTH,A,1953,2.070283,NaN
3,AUS,POP,TOT,AGRWTH,A,1954,1.942078,NaN
4,AUS,POP,TOT,AGRWTH,A,1955,2.372448,NaN
...,...,...,...,...,...,...,...,...
16058,EU27,POP,WOMEN,MLN_PER,A,2017,228089.551500,NaN
16059,EU27,POP,WOMEN,MLN_PER,A,2018,228397.509500,NaN
16060,EU27,POP,WOMEN,MLN_PER,A,2019,228791.628000,NaN
16061,EU27,POP,WOMEN,MLN_PER,A,2020,228954.039500,NaN
16062,EU27,POP,WOMEN,MLN_PER,A,2021,228632.395000,NaN