In [17]:
# Imports
import pandas as pd
import numpy as np
from unidecode import unidecode

In [100]:
# ISO Countries names
countries = pd.read_csv(r'countries_ISO.txt')
countries = countries.rename(
    columns={'alpha-2': 'alpha_2', 'alpha-3': 'alpha_3'})

In [101]:
countries[countries['name'].str.contains('Russ')]

,name,alpha_2,alpha_3,country-code,iso_3166-2,region,sub-region,intermediate-region,region-code,sub-region-code,intermediate-region-code
183,Russian Federation,RU,RUS,643,ISO 3166-2:RU,Europe,Eastern Europe,NaN,150.0,151.0,NaN

In [117]:
# Data frame with the total number of patents granted per country/year
df_pat = pd.read_csv(r'total_patent_grants.csv', header=7).fillna(0)
df_pat = df_pat.rename(columns={'Origin (Code)': 'alpha_2'})
df_pat

,Origin,alpha_2,Office,Type,1980,1981,1982,1983,1984,1985,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,Albania,AL,Total,Total,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,5.0,3.0,12.0,6.0,0.0,12.0,4.0,0.0,7.0
1,Algeria,DZ,Total,Total,0.0,0.0,0.0,0.0,0.0,0.0,...,41.0,0.0,0.0,79.0,64.0,85.0,35.0,34.0,49.0,104.0
2,Andorra,AD,Total,Total,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,10.0,11.0,12.0,14.0,18.0
3,Angola,AO,Total,Total,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,49.0
4,Argentina,AR,Total,Total,1591.0,820.0,740.0,538.0,513.0,0.0,...,354.0,410.0,407.0,375.0,377.0,355.0,290.0,368.0,439.0,501.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
169,Yemen,YE,Total,Total,0.0,0.0,0.0,0.0,0.0,0.0,...,14.0,11.0,8.0,2.0,0.0,24.0,9.0,24.0,6.0,1.0
170,Yugoslavia,YU,Total,Total,79.0,95.0,55.0,126.0,157.0,207.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
171,Zaire,ZR,Total,Total,3.0,8.0,6.0,6.0,9.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
172,Zambia,ZM,Total,Total,0.0,0.0,2.0,0.0,0.0,10.0,...,2.0,2.0,6.0,4.0,3.0,12.0,5.0,159.0,4.0,0.0
173,Zimbabwe,ZW,Total,Total,24.0,9.0,19.0,16.0,17.0,2.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [118]:
# Including ISO names in the patents data frame
df_pat = pd.merge(df_pat, countries[['name', 'alpha_2']], how='left', on='alpha_2')
df_pat

,Origin,alpha_2,Office,Type,1980,1981,1982,1983,1984,1985,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,name
0,Albania,AL,Total,Total,0.0,0.0,0.0,0.0,0.0,0.0,...,5.0,3.0,12.0,6.0,0.0,12.0,4.0,0.0,7.0,Albania
1,Algeria,DZ,Total,Total,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,79.0,64.0,85.0,35.0,34.0,49.0,104.0,Algeria
2,Andorra,AD,Total,Total,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,10.0,11.0,12.0,14.0,18.0,Andorra
3,Angola,AO,Total,Total,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,49.0,Angola
4,Argentina,AR,Total,Total,1591.0,820.0,740.0,538.0,513.0,0.0,...,410.0,407.0,375.0,377.0,355.0,290.0,368.0,439.0,501.0,Argentina
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
169,Yemen,YE,Total,Total,0.0,0.0,0.0,0.0,0.0,0.0,...,11.0,8.0,2.0,0.0,24.0,9.0,24.0,6.0,1.0,Yemen
170,Yugoslavia,YU,Total,Total,79.0,95.0,55.0,126.0,157.0,207.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
171,Zaire,ZR,Total,Total,3.0,8.0,6.0,6.0,9.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
172,Zambia,ZM,Total,Total,0.0,0.0,2.0,0.0,0.0,10.0,...,2.0,6.0,4.0,3.0,12.0,5.0,159.0,4.0,0.0,Zambia
173,Zimbabwe,ZW,Total,Total,24.0,9.0,19.0,16.0,17.0,2.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Zimbabwe

In [120]:
# Missing names in Patents
miss_pat = df_pat.fillna('-')
miss_pat = miss_pat[miss_pat.name == '-']
miss_pat

,Origin,alpha_2,Office,Type,1980,1981,1982,1983,1984,1985,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,name
43,Czechoslovakia,CS,Total,Total,6768.0,5447.0,6116.0,6200.0,6267.0,7.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-
62,German Democratic Republic,DD,Total,Total,4455.0,5713.0,4125.0,10709.0,11402.0,11487.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-
108,Namibia,0,Total,Total,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,13.0,16.0,14.0,4.0,8.0,9.0,0.0,-
145,Soviet Union,SU,Total,Total,92909.0,96544.0,89305.0,72635.0,62755.0,73282.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-
170,Yugoslavia,YU,Total,Total,79.0,95.0,55.0,126.0,157.0,207.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-
171,Zaire,ZR,Total,Total,3.0,8.0,6.0,6.0,9.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-

In [121]:
# Dealing with missing country name in Patents
missing = {
    'German Democratic Republic': 'Germany',
    'Soviet Union': 'Russian Federation'
}
for k in missing.keys():
    i = df_pat[df_pat.Origin == k].index[0]
    df_pat.iloc[i, 46] = missing[k]

In [122]:
# Group values by names
df_pat = df_pat.drop(columns=['Origin', 'alpha_2', 'Office', 'Type']).dropna()
df_pat = df_pat.groupby(['name']).sum().reset_index()

In [131]:
# Data frame with the total population per country/year
df_pop = pd.read_csv(r'population.csv', header=2).drop(
    columns=['Indicator Name', 'Indicator Code']).rename(
        columns={'Country Code': 'alpha_3'})

df_pop

,Country Name,alpha_3,1960,1961,1962,1963,1964,1965,1966,1967,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,Unnamed: 66
0,Aruba,ABW,54608.0,55811.0,56682.0,57475.0,58178.0,58782.0,59291.0,59522.0,...,102880.0,103594.0,104257.0,104874.0,105439.0,105962.0,106442.0,106585.0,106537.0,NaN
1,Africa Eastern and Southern,AFE,130692579.0,134169237.0,137835590.0,141630546.0,145605995.0,149742351.0,153955516.0,158313235.0,...,567891875.0,583650827.0,600008150.0,616377331.0,632746296.0,649756874.0,667242712.0,685112705.0,702976832.0,NaN
2,Afghanistan,AFG,8622466.0,8790140.0,8969047.0,9157465.0,9355514.0,9565147.0,9783147.0,10010030.0,...,31541209.0,32716210.0,33753499.0,34636207.0,35643418.0,36686784.0,37769499.0,38972230.0,40099462.0,NaN
3,Africa Western and Central,AFW,97256290.0,99314028.0,101445032.0,103667517.0,105959979.0,108336203.0,110798486.0,113319950.0,...,387204553.0,397855507.0,408690375.0,419778384.0,431138704.0,442646825.0,454306063.0,466189102.0,478185907.0,NaN
4,Angola,AGO,5357195.0,5441333.0,5521400.0,5599827.0,5673199.0,5736582.0,5787044.0,5827503.0,...,26147002.0,27128337.0,28127721.0,29154746.0,30208628.0,31273533.0,32353588.0,33428486.0,34503774.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
261,Kosovo,XKX,947000.0,966000.0,994000.0,1022000.0,1050000.0,1078000.0,1106000.0,1135000.0,...,1818117.0,1812771.0,1788196.0,1777557.0,1791003.0,1797085.0,1788878.0,1790133.0,1786038.0,NaN
262,"Yemen, Rep.",YEM,5542459.0,5646668.0,5753386.0,5860197.0,5973803.0,6097298.0,6228430.0,6368014.0,...,26984002.0,27753304.0,28516545.0,29274002.0,30034389.0,30790513.0,31546691.0,32284046.0,32981641.0,NaN
263,South Africa,ZAF,16520441.0,16989464.0,17503133.0,18042215.0,18603097.0,19187194.0,19789771.0,20410677.0,...,53873616.0,54729551.0,55876504.0,56422274.0,56641209.0,57339635.0,58087055.0,58801927.0,59392255.0,NaN
264,Zambia,ZMB,3119430.0,3219451.0,3323427.0,3431381.0,3542764.0,3658024.0,3777680.0,3901288.0,...,15234976.0,15737793.0,16248230.0,16767761.0,17298054.0,17835893.0,18380477.0,18927715.0,19473125.0,NaN
265,Zimbabwe,ZWE,3806310.0,3925952.0,4049778.0,4177931.0,4310332.0,4447149.0,4588529.0,4734694.0,...,13555422.0,13855753.0,14154937.0,14452704.0,14751101.0,15052184.0,15354608.0,15669666.0,15993524.0,NaN

In [130]:
# Including ISO names in the population data frame
df_pop = pd.merge(
    df_pop, countries[['name', 'alpha_3']],
    how='left', 
    on='alpha_3'
    )

,Country Name,alpha_3,1960,1961,1962,1963,1964,1965,1966,1967,...,2014,2015,2016,2017,2018,2019,2020,2021,Unnamed: 66,name
0,Aruba,ABW,54608.0,55811.0,56682.0,57475.0,58178.0,58782.0,59291.0,59522.0,...,103594.0,104257.0,104874.0,105439.0,105962.0,106442.0,106585.0,106537.0,-,Aruba
1,Africa Eastern and Southern,AFE,130692579.0,134169237.0,137835590.0,141630546.0,145605995.0,149742351.0,153955516.0,158313235.0,...,583650827.0,600008150.0,616377331.0,632746296.0,649756874.0,667242712.0,685112705.0,702976832.0,-,-
2,Afghanistan,AFG,8622466.0,8790140.0,8969047.0,9157465.0,9355514.0,9565147.0,9783147.0,10010030.0,...,32716210.0,33753499.0,34636207.0,35643418.0,36686784.0,37769499.0,38972230.0,40099462.0,-,Afghanistan
3,Africa Western and Central,AFW,97256290.0,99314028.0,101445032.0,103667517.0,105959979.0,108336203.0,110798486.0,113319950.0,...,397855507.0,408690375.0,419778384.0,431138704.0,442646825.0,454306063.0,466189102.0,478185907.0,-,-
4,Angola,AGO,5357195.0,5441333.0,5521400.0,5599827.0,5673199.0,5736582.0,5787044.0,5827503.0,...,27128337.0,28127721.0,29154746.0,30208628.0,31273533.0,32353588.0,33428486.0,34503774.0,-,Angola
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
261,Kosovo,XKX,947000.0,966000.0,994000.0,1022000.0,1050000.0,1078000.0,1106000.0,1135000.0,...,1812771.0,1788196.0,1777557.0,1791003.0,1797085.0,1788878.0,1790133.0,1786038.0,-,-
262,"Yemen, Rep.",YEM,5542459.0,5646668.0,5753386.0,5860197.0,5973803.0,6097298.0,6228430.0,6368014.0,...,27753304.0,28516545.0,29274002.0,30034389.0,30790513.0,31546691.0,32284046.0,32981641.0,-,Yemen
263,South Africa,ZAF,16520441.0,16989464.0,17503133.0,18042215.0,18603097.0,19187194.0,19789771.0,20410677.0,...,54729551.0,55876504.0,56422274.0,56641209.0,57339635.0,58087055.0,58801927.0,59392255.0,-,South Africa
264,Zambia,ZMB,3119430.0,3219451.0,3323427.0,3431381.0,3542764.0,3658024.0,3777680.0,3901288.0,...,15737793.0,16248230.0,16767761.0,17298054.0,17835893.0,18380477.0,18927715.0,19473125.0,-,Zambia
265,Zimbabwe,ZWE,3806310.0,3925952.0,4049778.0,4177931.0,4310332.0,4447149.0,4588529.0,4734694.0,...,13855753.0,14154937.0,14452704.0,14751101.0,15052184.0,15354608.0,15669666.0,15993524.0,-,Zimbabwe

In [29]:
# Missing names in Patents
df_pop = df_pop.fillna('-')
miss_pop = miss_pop[miss_pop.name == '-']
miss_pop

,Country Name,alpha_3,1960,1961,1962,1963,1964,1965,1966,1967,...,2014,2015,2016,2017,2018,2019,2020,2021,Unnamed: 66,name
1,Africa Eastern and Southern,AFE,130692579.0,134169237.0,137835590.0,141630546.0,145605995.0,149742351.0,153955516.0,158313235.0,...,583650827.0,600008150.0,616377331.0,632746296.0,649756874.0,667242712.0,685112705.0,702976832.0,-,-
3,Africa Western and Central,AFW,97256290.0,99314028.0,101445032.0,103667517.0,105959979.0,108336203.0,110798486.0,113319950.0,...,397855507.0,408690375.0,419778384.0,431138704.0,442646825.0,454306063.0,466189102.0,478185907.0,-,-
7,Arab World,ARB,93359407.0,95760348.0,98268683.0,100892507.0,103618568.0,106444103.0,109394536.0,112499764.0,...,397922915.0,406501999.0,415077960.0,423664839.0,432545676.0,441467739.0,449228296.0,456520777.0,-,-
36,Central Europe and the Baltics,CEB,91401764.0,92232738.0,93009498.0,93840016.0,94715795.0,95440988.0,96146336.0,97043270.0,...,103496179.0,103257886.0,102994278.0,102740078.0,102538451.0,102398537.0,102180124.0,101430997.0,-,-
38,Channel Islands,CHI,109186.0,110225.0,111281.0,112410.0,113596.0,114832.0,116116.0,117430.0,...,160912.0,162190.0,163721.0,165215.0,167259.0,169410.0,171113.0,172683.0,-,-
49,Caribbean small states,CSS,4209141.0,4289429.0,4366420.0,4443544.0,4520592.0,4596245.0,4670465.0,4743053.0,...,7181044.0,7224602.0,7265272.0,7303634.0,7374650.0,7424102.0,7444768.0,7481877.0,-,-
61,East Asia & Pacific (excluding high income),EAP,896482332.0,896012881.0,907880207.0,931136006.0,954010411.0,977517019.0,1004358015.0,1030478704.0,...,2034317097.0,2049809214.0,2065223450.0,2080968782.0,2094573278.0,2106439246.0,2116424876.0,2123673456.0,-,-
62,Early-demographic dividend,EAR,979461502.0,1004319366.0,1029962253.0,1056327420.0,1083430197.0,1110603410.0,1137875812.0,1166092667.0,...,3122586392.0,3166642585.0,3210110979.0,3252529883.0,3294298709.0,3335463995.0,3375134276.0,3411889059.0,-,-
63,East Asia & Pacific,EAS,1043333636.0,1045203037.0,1059600211.0,1085398906.0,1110819272.0,1136927045.0,1166227679.0,1194567141.0,...,2278232287.0,2294507020.0,2310721864.0,2327134580.0,2341387076.0,2353862247.0,2363940425.0,2370204347.0,-,-
64,Europe & Central Asia (excluding high income),ECA,255726092.0,259951519.0,264183560.0,268409373.0,272634858.0,276765568.0,280229181.0,283724914.0,...,388842371.0,391695432.0,394321096.0,396482489.0,398076771.0,399592320.0,400811771.0,401575218.0,-,-
65,Europe & Central Asia,ECS,666273660.0,673957844.0,681809362.0,689682704.0,697559598.0,705233118.0,712077088.0,718884137.0,...,903601049.0,908123143.0,912374705.0,915855416.0,918782553.0,921179725.0,923103879.0,923777214.0,-,-
68,Euro area,EMU,265244987.0,267560575.0,269908375.0,272291865.0,274700502.0,277152064.0,279493076.0,281569488.0,...,338486932.0,339514675.0,340509447.0,341246081.0,342065158.0,342452734.0,342913447.0,343067846.0,-,-
73,European Union,EUU,356947129.0,359937892.0,362998792.0,366152978.0,369387359.0,372533839.0,375563155.0,378512582.0,...,443601373.0,444570054.0,445515422.0,446215182.0,447001100.0,447367191.0,447692315.0,447199800.0,-,-
74,Fragile and conflict affected situations,FCS,244896253.0,250155682.0,255628513.0,261257220.0,267057059.0,272999177.0,279032125.0,285220313.0,...,856705624.0,876118480.0,895949553.0,916099469.0,936387926.0,957446713.0,979418527.0,1001462452.0,-,-
95,High income,HIC,779546518.0,789309567.0,799296778.0,809189014.0,819057450.0,828628357.0,837733293.0,846472887.0,...,1204882945.0,1211637779.0,1218545401.0,1224733163.0,1230678232.0,1235869243.0,1240900955.0,1240629858.0,-,-
98,Heavily indebted poor countries (HIPC),HPC,163453961.0,167427839.0,171555341.0,175832578.0,180294830.0,184949176.0,189744990.0,194742549.0,...,706617213.0,727129254.0,748356635.0,770390212.0,792615894.0,815100831.0,838066650.0,861156745.0,-,-
102,IBRD only,IBD,1914221159.0,1936154175.0,1970958533.0,2017658475.0,2064405393.0,2111647963.0,2161512960.0,2211123407.0,...,4638292836.0,4686050627.0,4731948335.0,4776473096.0,4817627754.0,4855633857.0,4889761166.0,4917520297.0,-,-
103,IDA & IBRD total,IBT,2298062888.0,2329592550.0,2374361440.0,2431394263.0,2488885360.0,2547296072.0,2608664220.0,2670178921.0,...,6160758687.0,6241291929.0,6321324033.0,6401367406.0,6479097294.0,6554880269.0,6628067973.0,6695397735.0,-,-
104,IDA total,IDA,383841729.0,393438375.0,403402907.0,413735788.0,424479967.0,435648109.0,447151260.0,459055514.0,...,1522465851.0,1555241302.0,1589375698.0,1624894310.0,1661469540.0,1699246412.0,1738306807.0,1777877438.0,-,-
105,IDA blend,IDB,120380760.0,123340386.0,126404800.0,129620425.0,132967846.0,136452685.0,140064295.0,143768745.0,...,516900084.0,527175885.0,537358412.0,547984961.0,559155599.0,570633332.0,582637127.0,595016031.0,-,-
107,IDA only,IDX,263460969.0,270097989.0,276998107.0,284115363.0,291512121.0,299195424.0,307086965.0,315286769.0,...,1005565767.0,1028065417.0,1052017286.0,1076909349.0,1102313941.0,1128613080.0,1155669680.0,1182861407.0,-,-
110,Not classified,INX,-,-,-,-,-,-,-,-,...,-,-,-,-,-,-,-,-,-,-
128,Latin America & Caribbean (excluding high income),LAC,195283102.0,200839312.0,206554232.0,212414216.0,218403471.0,224497888.0,230651625.0,236851700.0,...,553532904.0,559317823.0,565136972.0,571144463.0,577406030.0,583500375.0,588808380.0,593308001.0,-,-
134,Latin America & Caribbean,LCN,219142626.0,225304612.0,231638540.0,238127927.0,244742056.0,251458185.0,258225265.0,265030167.0,...,615046755.0,621390109.0,627668470.0,633797190.0,639628226.0,645295804.0,650534967.0,654981699.0,-,-
135,Least developed countries: UN classification,LDC,243968890.0,249896083.0,256085777.0,262462495.0,269088057.0,275967421.0,283013061.0,290332504.0,...,929398042.0,951928215.0,975265947.0,999288864.0,1023493788.0,1048193552.0,1073743450.0,1099568566.0,-,-
136,Low income,LIC,142398818.0,145732351.0,149198614.0,152799312.0,156579189.0,160529141.0,164598244.0,168870743.0,...,594773454.0,610047256.0,626382245.0,643485701.0,661256583.0,680013468.0,699186538.0,718255072.0,-,-
139,Lower middle income,LMC,989601453.0,1013695846.0,1038393433.0,1063811983.0,1089851238.0,1115860345.0,1141895029.0,1168662089.0,...,3089095464.0,3134736445.0,3180221060.0,3225575822.0,3270214763.0,3313903477.0,3357118135.0,3398187527.0,-,-
140,Low & middle income,LMY,2243861384.0,2274747879.0,2318883865.0,2375259912.0,2432089033.0,2489968128.0,2550817246.0,2611645433.0,...,6082432550.0,6162743397.0,6242647248.0,6322861019.0,6401272453.0,6477841008.0,6551590116.0,6619578961.0,-,-
142,Late-demographic dividend,LTE,1095639330.0,1097817736.0,1112228010.0,1138051532.0,1163452598.0,1189561377.0,1218400606.0,1246377749.0,...,2243581628.0,2258039271.0,2272117455.0,2286564636.0,2298987320.0,2309491520.0,2317277311.0,2321862159.0,-,-
153,Middle East & North Africa,MEA,104958259.0,107670788.0,110538003.0,113518054.0,116624655.0,119831991.0,123155200.0,126678043.0,...,431664579.0,440506473.0,448917409.0,456885486.0,465073490.0,473201775.0,479966649.0,486167363.0,-,-
156,Middle income,MIC,2101462566.0,2129015528.0,2169685251.0,2222460600.0,2275509844.0,2329438987.0,2386219002.0,2442774690.0,...,5487659096.0,5552696141.0,5616265003.0,5679375318.0,5740015870.0,5797827540.0,5852403578.0,5901323889.0,-,-
161,Middle East & North Africa (excluding high inc...,MNA,97179656.0,99620285.0,102159899.0,104817905.0,107577280.0,110431969.0,113410132.0,116518346.0,...,370756356.0,378137339.0,385054538.0,391607422.0,398375344.0,405259403.0,411810124.0,418047201.0,-,-
170,North America,NAC,198624756.0,202007500.0,205198600.0,208253700.0,211262900.0,214031100.0,216659000.0,219176000.0,...,353888902.0,356507139.0,359245796.0,361731237.0,363967201.0,365995094.0,369602177.0,370203720.0,-,-
181,OECD members,OED,807630906.0,818832113.0,830289099.0,841722274.0,853200694.0,864404090.0,875187633.0,885770688.0,...,1323005691.0,1331743060.0,1340532342.0,1348646085.0,1356241793.0,1362922537.0,1370241530.0,1372736513.0,-,-
183,Other small states,OSS,9080716.0,9244843.0,9436172.0,9631390.0,9819458.0,9995778.0,10170872.0,10357064.0,...,28907278.0,29620768.0,30309723.0,30940039.0,31494217.0,32005203.0,32381190.0,32708003.0,-,-
191,Pre-demographic dividend,PRE,188484894.0,192890980.0,197549304.0,202413011.0,207480357.0,212742196.0,218153165.0,223721654.0,...,832469778.0,856420253.0,880891473.0,905987912.0,931467165.0,957503246.0,984213438.0,1011043183.0,-,-
197,Pacific island small states,PSS,905537.0,932520.0,960258.0,988767.0,1017629.0,1046929.0,1075580.0,1102445.0,...,2405308.0,2431426.0,2457814.0,2484263.0,2510226.0,2536070.0,2566819.0,2602173.0,-,-
198,Post-demographic dividend,PST,755575073.0,764678914.0,773971699.0,783063134.0,792060920.0,800834639.0,809130400.0,817080267.0,...,1092179620.0,1097061415.0,1102020063.0,1106214534.0,1110126741.0,1113310738.0,1117443485.0,1116796245.0,-,-
204,South Asia,SAS,571283033.0,584883506.0,598869387.0,613229525.0,627943361.0,642724630.0,657462990.0,672488495.0,...,1753568847.0,1775178483.0,1796850154.0,1818868706.0,1840534093.0,1861598514.0,1882531620.0,1901911604.0,-,-
215,Sub-Saharan Africa (excluding high income),SSA,227907169.0,233440376.0,239236580.0,245252887.0,251519652.0,258031054.0,264705303.0,271583274.0,...,981414975.0,1008605106.0,1036061038.0,1063789157.0,1092306937.0,1121451150.0,1151203345.0,1181063481.0,-,-
217,Sub-Saharan Africa,SSF,227948869.0,233483265.0,239280622.0,245298063.0,251565974.0,258078554.0,264754002.0,271633185.0,...,981506334.0,1008698525.0,1036155715.0,1063885000.0,1092403699.0,1121548775.0,1151301807.0,1181162739.0,-,-
218,Small states,SST,14195394.0,14466792.0,14762850.0,15063701.0,15357679.0,15638952.0,15916917.0,16202562.0,...,38493630.0,39276796.0,40032809.0,40727936.0,41379093.0,41965375.0,42392777.0,42792053.0,-,-
230,East Asia & Pacific (IDA & IBRD countries),TEA,884811163.0,884080493.0,895683380.0,918644019.0,941205716.0,964393486.0,990895866.0,1016638561.0,...,2009149689.0,2024511016.0,2039794828.0,2055414680.0,2068898629.0,2080648616.0,2090523535.0,2097669023.0,-,-
231,Europe & Central Asia (IDA & IBRD countries),TEC,307910628.0,312638061.0,317365322.0,322144898.0,326946310.0,331523017.0,335436332.0,339584994.0,...,451001474.0,453701064.0,456167799.0,458170561.0,459613334.0,460994696.0,462023771.0,462341222.0,-,-
236,Latin America & the Caribbean (IDA & IBRD coun...,TLA,208929539.0,214886940.0,221002830.0,227259853.0,233646719.0,240144416.0,246704898.0,253315340.0,...,598949385.0,605335594.0,611668087.0,617875842.0,623841282.0,629515571.0,634680385.0,639188695.0,-,-
238,Middle East & North Africa (IDA & IBRD countries),TMN,97179656.0,99620285.0,102159899.0,104817905.0,107577280.0,110431969.0,113410132.0,116518346.0,...,366582958.0,373867247.0,380687450.0,387152617.0,393806257.0,400574097.0,407006855.0,413124452.0,-,-
240,South Asia (IDA & IBRD),TSA,571283033.0,584883506.0,598869387.0,613229525.0,627943361.0,642724630.0,657462990.0,672488495.0,...,1753568847.0,1775178483.0,1796850154.0,1818868706.0,1840534093.0,1861598514.0,1882531620.0,1901911604.0,-,-
241,Sub-Saharan Africa (IDA & IBRD countries),TSS,227948869.0,233483265.0,239280622.0,245298063.0,251565974.0,258078554.0,264754002.0,271633185.0,...,981506334.0,1008698525.0,1036155715.0,1063885000.0,1092403699.0,1121548775.0,1151301807.0,1181162739.0,-,-
249,Upper middle income,UMC,1111861113.0,1115319682.0,1131291818.0,1158648617.0,1185658606.0,1213578642.0,1244323973.0,1274112601.0,...,2398563632.0,2417959696.0,2436043943.0,2453799496.0,2469801107.0,2483924063.0,2495285443.0,2503136362.0,-,-
259,World,WLD,3031564839.0,3072510552.0,3126934725.0,3193508879.0,3260517816.0,3328284623.0,3398561224.0,3468457168.0,...,7317508753.0,7404910892.0,7491934113.0,7578157615.0,7661776338.0,7742681934.0,7820981524.0,7888408686.0,-,-
261,Kosovo,XKX,947000.0,966000.0,994000.0,1022000.0,1050000.0,1078000.0,1106000.0,1135000.0,...,1812771.0,1788196.0,1777557.0,1791003.0,1797085.0,1788878.0,1790133.0,1786038.0,-,-

In [132]:
# Dropping missing names since they are consolidated data, not countries
df_pop = df_pop.dropna()